* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #282c34;
  background-image: url(./img/fondoSnake.png);
  background-size: cover;
}

.general {
  width: 90vmin;
  height: 90vmin;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.379);
  border: solid 2px white;
  border-radius: 10px;
  border-radius: 5px;
}

.detallesJuego {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 13.5px;
  display: flex;
  justify-content: space-between;
}

.tablero {
  width: 100%;
  height: 100%;
  background-color: #000000c7;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 2px;
  flex: 1;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.tablero .comida {
  background-image: url(/img/manzana.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.6em;
  height: 1.6em;
}
.tablero .cabeza {
  background-image: url(/img/cabezaSerpiente2.png);
  background-size: cover;
  border-radius: 10px;
  height: 1.6em;
}
.tablero .cuerpoSerpiente {
  background: linear-gradient(to bottom, rgb(179, 137, 0), #337d3d);
  border-radius: 10px;
  width: 1.7em;
}

.mensaje {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 208, 0.284);
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.mensaje p {
  margin: 10px;
  color: rgba(255, 0, 0, 0.756);
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
}

.mensaje button {
  color: chartreuse;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  border: linear-gradient(to right, black, rgb(0, 216, 0));
  border-radius: 15px;
  transition: transform 1s;
  margin-top: 1em;
}

.mensaje button:hover {
  color: rgb(74, 148, 0);
  transform: scale(1.1);
}

#puntuacionFinal {
  color: rgb(220, 220, 1);
  font-size: 18px;
}

.puntuacion,
.puntuacionMax {
  font-family: "Press Start 2P", monospace;
  font-size: 14px;
}
