* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #282c34;
  background-image: url(./img/fondoSnake.png);
  background-size: cover;
}

.general {
  width: 90vmin;
  height: 90vmin;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.379);
  border: solid 2px white;
  border-radius: 10px;
  border-radius: 5px;
}

.detallesJuego {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 13.5px;
  display: flex;
  justify-content: space-between;
}

.tablero {
  width: 100%;
  height: 100%;
  background-color: #000000c7;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 2px;
  flex: 1;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.tablero .comida {
  background-image: url(/img/manzana.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.6em;
  height: 1.6em;
}
.tablero .cabeza {
  background-image: url(/img/cabezaSerpiente2.png);
  background-size: cover;
  height: 1.6em;
}
.tablero .cuerpoSerpiente {
  background: linear-gradient(to bottom, rgb(179, 137, 0), #337d3d);
  border-radius: 10px;
  width: 1.7em;
}

.mensaje {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 208, 0.284);
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.mensaje p {
  margin: 10px;
  color: rgba(255, 0, 0, 0.756);
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.mensaje button {
  color: chartreuse;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  border: linear-gradient(to right, black, rgb(0, 216, 0));
  border-radius: 15px;
  transition: transform 1s;
  margin-top: 1em;
}

.mensaje button:hover {
  color: rgb(74, 148, 0);
  transform: scale(1.1);
}

#puntuacionFinal {
  color: rgb(220, 220, 1);
  font-size: 18px;
}

.puntuacion,
.puntuacionMax {
  font-family: "Press Start 2P", monospace;
  font-size: 14px;
}

.cajaGeneralInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 16em;
  height: 90vh;
  margin-left: 12em;
  text-shadow: 2px 2px black;
}
.cajaInfo {
  background-image: url(/img/snakeIntro2.png);
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  width: 14em;
  height: 14em;
  animation: fade-in 1.5s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.textoCajaInfo {
  color: white;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
  /* background-color: rgba(0, 0, 0, 0.761); */
  background-image: url(./img/entrepa1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35em;
  height: 24em;
  border-radius: 10px;
  animation: fade-in 5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoInfo{
  font-size: 13px;
  width: 20em;
  height: 6.5em;
  color: rgb(0, 163, 0);
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.resaltado{
  color: red;
}

@media screen and (max-width: 360px) {
  .tablero {
    width: 100%;
    height: 85%;
  }
  .tablero .cabeza {
    background-image: url(/img/cabezaSerpiente2.png); /* Cambia la imagen de la cabeza para dispositivos móviles */
    width: 10px; /* Ajusta el ancho de la cabeza */
    height: 10px; /* Ajusta la altura de la cabeza */
  }

  .tablero .cuerpoSerpiente {
    background: linear-gradient(
      to bottom,
      rgb(179, 137, 0),
      #337d3d
    ); /* Cambia el fondo del cuerpo para dispositivos móviles */
    width: 10px; /* Ajusta el ancho del cuerpo */
  }

  .tablero .comida {
    width: 10px;
    height: 10px;
  }

  .cajaGeneralInfo {
    display: none;
  }
}
